<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATMmwlsJrFN5nW3oT_esBwFAztiVusn0g</string>
	<key>GCM_SENDER_ID</key>
	<string>157012627648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ADA.FinanceManager</string>
	<key>PROJECT_ID</key>
	<string>financemanager-29dbd</string>
	<key>STORAGE_BUCKET</key>
	<string>financemanager-29dbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157012627648:ios:f2a28a96cfe0160df9dd25</string>
</dict>
</plist>